div:hover p {
  color: black;
}

fieldset:hover legend {
  color: brown;
  font-size: 4.8vw;
  transition: 1s;
}

div:hover h2 {
  color: brown;
  font-size: 5vw;
  transition: 1s;
}

table:hover caption {
  color: brown;
  font-size: 5vw;
  transition: 1s;
  letter-spacing: 0;
}

p:hover label {
  color: #E94B3C;
  letter-spacing: 4px;
  transition: 0.5s;
}

.registration-button:hover {
  background-color: wheat;
  transition: .3s;
  color: black;
  border-right: 2px #612A05 solid;
  border-left: 2px #612A05 solid;
  border-bottom: none;
  border-top: none;
  letter-spacing: 1px;
}

.guest_link:hover {
  background-color: mistyrose;
  color: rgb(85, 26, 139);
  transition: .4s;
  border: 3px rosybrown solid;
  letter-spacing: 1px;
}

tr:hover .cell {
  color: brown;
  background-color: wheat;
  transition: 0.6s;
}

footer:hover p {
  line-height: 0.5em;
  letter-spacing: 2px;
  text-indent: 2%;
  font-family: Elephant, monospace;
  font-size: 1.6vw;
  color: burlywood;
  text-shadow: 3px 3px 9px dimgrey;
  transition: 1s;
}

div:hover img {
  transition: 2s;
  visibility: visible;
  height: 300px;
}

h1:hover {
  font-size: 8.5vw;
  background-color: #feb236;
  transition: 2s;
  color: #7a3b2e;
  text-shadow: 3px 3px 6px goldenrod, 6px 6px 18px white;
  border-color: darkgoldenrod;
}

.navigation_link:hover {
  background-color: mistyrose;
  color: rgb(85, 26, 139);
  transition: .5s;
  border-color: mediumpurple;
  margin-left: 38.5%;
  margin-right: 38.5%;
  letter-spacing: 1px;
}

.logout_link:hover {
  background-color: wheat;
  font-size: 1vw;
  transition: .3s;
  color: #9B2335;
  border-right: 2px #612A05 solid;
  border-left: 2px #612A05 solid;
  border-bottom: 2px chocolate solid;
  border-top: 2px chocolate solid;
  letter-spacing: 1px;
}

.user_name_display:hover {
  transition: .3s;
  color: #4d5700;
}

.offer_button:hover{
  background-color: wheat;
  border-color: darkolivegreen;
  color: darkgreen;
  transition: .3s;
  letter-spacing: 2px;
  width: 100%;
}

.search_button:hover{
  background-color: wheat;
  border-color: steelblue;
  color: royalblue;
  transition: .3s;
  letter-spacing: 2px;
}

.adding_link:hover {
  color: olive;
  background-color: wheat;
  transition: .3s;
  border-left: 3px green solid;
  border-right: 3px green solid;
  border-top: 1px green solid;
  border-bottom: 1px green solid;
  text-shadow: 0 0 9px white, 0 0 9px green;;
  letter-spacing: 1px;
}

.my_item_link:hover {
  color: #6E6E20;
  background-color: wheat;
  transition: .3s;
  border-left: 3px #B2B202 solid;
  border-right: 3px #B2B202 solid;
  border-top: 1px #B2B202 solid;
  border-bottom: 1px #B2B202 solid;
  text-shadow: 0 0 9px yellow, 0 0 9px white;
  letter-spacing: 1px;
}

.edit_link:hover {
  transition: .3s;
  color: darkslategray;
  background-color: wheat;
  border-right: 1px darkolivegreen solid;
  border-left: 1px darkolivegreen solid;
  border-top: 3px darkolivegreen solid;
  border-bottom: 3px darkolivegreen solid;
  text-shadow: 0 0 3px white, 0 0 6px whitesmoke;
  letter-spacing: 3px;
}

.adding_button:hover, .cancel_href:hover {
  color: darkslategray;
  background-color: burlywood;
  transition: .5s;
  letter-spacing: 3px;
}