<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="https://www.thymeleaf.org">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta content="The site was developed by student Balaian Vardan" name="description">
  <meta content="en" http-equiv="content-language">
  <meta content="Vardan Balaian" name="author">
  <meta content="copyright held by Balaian Vardan" name="copyright">

  <link rel="stylesheet" th:href="@{/css/element_styles.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/text_styles.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/hover_styles.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/modal_style.css}" type="text/css">

  <script th:src="@{/js/login_form_validation.js}" type="text/javascript"></script>
  <script th:src="@{/js/elements_change.js}" type="text/javascript"></script>

  <title>Marketplace Login</title>
</head>

<body>

<h1 class="site_name_decor">Online MarketPlace</h1>

<a class="navigation_link" th:href="@{/}">Homepage</a>
<a class="navigation_link" th:href="@{/registration}">Registration</a>

<div class="content">

  <th:block sec:authorize="isAuthenticated()">
    <div class="logout_form">
      <span class="user_name_display" sec:authentication="name"></span>
      <a class="logout_link" th:href="@{/product_table}">Return to table</a>
      <form method="post" th:action="@{/logout}">
        <input class="logout_link" type="submit" value="Sign Out"/>
      </form>
    </div>
  </th:block>


  <form autocomplete="on" method="post" name="login_form" th:action="@{/login}">
    <fieldset>

      <legend class="legend_text">
        Login form
      </legend>


      <div class="login_panel">

        <th:block sec:authorize="isAnonymous()">

          <p>
            <label class="label_input" for="login">
              Login:
              <input class="user_data_input" id="login" maxlength="20" minlength="4"
                     name="username"
                     pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,20}$"
                     placeholder="Enter username"
                     required
                     title="Use 4-20 Latin characters. Only letters, numbers, hyphens and underscores are allowed. The first character must be a letter."
                     type="text"/>
            </label>
          </p>

          <p>
            <label class="label_input" for="password">
              Password:
              <input class="user_data_input" id="password" maxlength="20"
                     minlength="6" name="password"
                     pattern="^[a-zA-Z0-9_-]{6,20}$"
                     placeholder="Enter password" required
                     title="Use 6-20 Latin characters. Only letters, numbers, hyphens and underscores are allowed."
                     type="password"/>
            </label>
          </p>


          <th:block th:if="${param.error}">
            <span class="error_form">Invalid username and password.</span>
          </th:block>

          <th:block th:if="${param.logout}">
            <span class="error_form">You have been logged out.</span>
          </th:block>

          <hr>

          <p class="button_bar">
            <button class="registration-button" id="dataSendButton" type="submit">Sign in</button>
            <button class="registration-button" type="reset">Reset form</button>
          </p>

          <p>

            <a class="guest_link" th:href="@{/guest_product_table}">Log in as a guest</a>

        </th:block>

        <th:block sec:authorize="isAuthenticated()">
          <a class="guest_link" th:href="@{/product_table}">Return to Auction table</a>
        </th:block>
        </p>

      </div>

    </fieldset>

  </form>

</div>

<footer class="footer"><p class="footer_text">Developed by student Balaian Vardan Ⓢ 2020</p>
</footer>

<!-- The Modal -->
<div class="modal" id="wrongFillingModal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="wrongMessage">There are errors in filling out the form.</p>


    <div class="modal-footer">
      <button class="registration-button" id="exitButton" type="button">Exit</button>
    </div>

  </div>
</div>

<!-- The Modal -->
<div class="modal" id="warningModal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="warningMessage">Are you sure you want to log in as: <span id="userName"></span></p>

    <div class="modal-footer">
      <button class="registration-button" id="confirmButton" type="button">OK</button>
      <button class="registration-button" id="negativeButton" type="button">Cancel</button>
    </div>

  </div>
</div>

</body>
</html>
